body {
    margin: 0;
    padding: 0;
    background-color: #2a3439
  }
  
#loadingText {
    color:white;
    font-family: 'Antonio', sans-serif;
    font-size: 6em
}

#container {
    margin-top:4em;
    align-items: center;
    justify-content: center;
}
  
  /* Circles */
  .circle:nth-child(1),
  .circle:nth-child(2),
  .circle:nth-child(3) {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50%;
    animation: jump 1.2s ease-in infinite
  }
  
  .circle:nth-child(1) {
    background-color: #8F30A1;
  }
  
  .circle:nth-child(2) {
    background-color: #FE4773;
    animation-delay: .15s;
  }
  
  .circle:nth-child(3) {
    background-color: #46B3A5;
    animation-delay: .25s;
  }
  
  /* Animation */
  @keyframes jump {
    0% {
      transform: translateY(0px);
    }
    
    50% {
      transform: translateY(-80px);
    }
    
    100% {
      transform: translateY(0px);
    }
  }